In [1]:
# Import library 
from ADC.function import *

## POSTCODE

In [2]:
clean_postcode('M2n-6Z8')

'M2N6Z8'

In [3]:
validate_postal('M2N6Z8')

True

In [4]:
validate_postal('M2N608')

False

## Address 
Based on information from Canada Post (https://prd11.wsl.canadapost.ca/cpc/en/support/articles/addressing-guidelines/civic-address.page):

+ Proper Case or CAPITALIZED - Addresses must follow proper case formatting or be fully capitalized.

+ Unit number: 

1. Before the civic number with a hyphen in between(10-123 Main St)

2. After the street type, using an acceptable unit identifier (APT, SUITE, UNIT)

+ Civic number: You should place the civic number before the street name.

+ Street name: The street name is the official name recognized by each municipality.

+ Street type: You should place the street type after the street name in abbreviated format

+ Street direction: Street direction should be the last element in the civic address line and should be in abbreviated format

### For a single address

In [5]:
# Please apply this function only on address column (without city and postcode)
clean_address('unite 45 35 Finch aven east')

'#45 35 Finch Ave E'

In [6]:
# The LIO geocoder API requires address input, in order to improve the result accuracy, we are asked to remove the Unit num. 
clean_address_without_unitnum('unite 45 35 Finch aven east')

'35 Finch Ave E'

### Batch address processing

In [7]:
df=pd.DataFrame({'address':['15-45 windermere Street','#45 105 C The Quenswy Aven ','103 The Queenswy Sqrs unit 56',
                           '125 pter lane East',' m2m1z4','apt65 55 B bishop west ave',
                           '438-78 University road','15 windermere prk','23-23 jumbo Field','55 A bishop ave',
                           '600 Grenfell Drive']})

In [8]:
# here is our sample df looks like
df

                          address
0         15-45 windermere Street
1     #45 105 C The Quenswy Aven
2   103 The Queenswy Sqrs unit 56
3              125 pter lane East
4                          m2m1z4
5      apt65 55 B bishop west ave
6          438-78 University road
7               15 windermere prk
8               23-23 jumbo Field
9                 55 A bishop ave
10             600 Grenfell Drive

In [9]:
# rest index first, then we can have use index to go through the loop 
df.reset_index(inplace=True)
df['index'].apply(lambda x: component_addr(x, df.at[x, "address"], df))
df

,index,address,unit_num,building_num,civic_num,road_name,road_type,Street_direction
0,0,15-45 windermere Street,15,,45,Windermere,St,
1,1,#45 105 C The Quenswy Aven,45,C,45,105 The Quenswy,Ave,
2,2,103 The Queenswy Sqrs unit 56,56,,103,The Queenswy,Sq,
3,3,125 pter lane East,,,125,Pter,Ln,E
4,4,m2m1z4,,,,,,
5,5,apt65 55 B bishop west ave,65,B,55,Bishop,Ave,W
6,6,438-78 University road,438,,78,University,Rd,
7,7,15 windermere prk,,,15,Windermere,Park,
8,8,23-23 jumbo Field,23,,23,Jumbo,Fld,
9,9,55 A bishop ave,,A,55,Bishop,Ave,
10,10,600 Grenfell Drive,,,600,Grenfell,Dr,